body{
    background-color: rgb(249, 240, 250);
}
.section-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
}

.method-section{
    border-radius: 7px;
    /* background-color: yellow; */
    margin: -2rem auto;
}

.method-subsection{
      display: flex;
}

.method-column {    
    width: 50%;
    
    /* background-color: white;
    border: solid 1.5px black; */
    border-radius: 7px;
    margin: 0 0.5rem;
}

.section-samples{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:500;
    text-align: justify;
    font-size: 20px;
    color: dodgerblue;
    margin: auto;
    width: 100%;    
}

.container-code-box{
    background-color:rgba(255, 105, 180, 0.048);
    width: 100%;
    border-radius: 7px;
    border: solid 2px rgba(255, 105, 180, 0.178);
    margin: 1rem auto;
}

.syntax-title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.code-box{
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    margin-bottom: -0.5rem;
}
