body{
    background-color: rgba(10, 255, 194, 0.507);
}

.page-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.section-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande','Lucida Sans Unicode', 
        Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.section-wrapper{
    display: flex;
    justify-content: space-between;
    font-size: x-small;
    /* background-color: orange; */
    /*margin: 1rem 0.5rem; */
    /* border: 2px dashed hotpink; */
}

.container-column{
    background-color: white;
    border: solid 1.5px black;
    border-radius: 7px;
    text-align: justify;
    margin: 0 0.5rem 0.5rem;
    padding: 0.25rem 1rem 0.5rem 0.5rem;
}

.column-thirds{
    width: 33%;
    padding: 0.5rem;
}

.column-halves{
    width: 50%;
    padding: 0.5rem;
}

.column-title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
        Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.container-syntax-example-console{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
        Geneva, Verdana, sans-serif;
    width: 100%;
    border-radius: 7px;
    margin: 0.25rem 0 0 0;
}

.syntax-color{
    background-color:rgba(255, 105, 180, 0.397);
    border: solid 2px rgb(255, 105, 180);
}

.example-color{
    background-color:rgba(90, 230, 157, 0.397);
    border: solid 2px rgb(90, 230,157);
}

.console-color{
    background-color:rgba(33, 236, 131, 0.418);
    border: solid 2px rgb(41, 173, 105);
}

.title-syntax-example-console{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
        Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.inner-code{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
        Geneva, Verdana, sans-serif;
    font-size: 14px;
/* margin: 0.25rem; */
}

.wrapper-subtitle-description{
    /* background-color: white;
    border: solid 1.5px black; */
    border-radius: 7px;
    font-size:x-small;
}

.column-description{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
        Geneva, Verdana, sans-serif;
    font-size: 14px;  
    text-align: justify; 
}

.tab{
    margin: 40px;
}